---
import Layout from '../layouts/Layout.astro';
const image = "https://images.unsplash.com/photo-1682845737939-a12169ff13cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1798&q=80"
---

<Layout title="Welcome to Astro.">
	<main class="main-container">
		<img class="main-bg-image" src={image} alt="">
        <div class="banner-content">
			<div>
               <h2 class="font">developer</h2>
			</div>
<div>

</div>
		</div>
	</main>
</Layout>

<style>
	.main-bg-image{
		height: 100vh;
		width: 100%;
		object-fit: cover;
		margin-top: -80px;
		z-index: -1;
	}

	.font{
		font-family: Custom;
	}
</style>
